h1{
  text-align: center;
}
#img_upload{
  display: none;
}
.button_div{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.input_icon{
  margin-right: 50px;
  cursor: pointer;
}
.progress{
  margin: auto;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}
.css-1qv1uvu-MuiMasonry-root{
  align-content: flex-start !important;
}